// Place all the styles related to the chat::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messageBlock {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.messageArea {
    text-align: center;
    justify-content: center;
    width: 300px;
    margin: auto;
}

.messageRoom form {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
}

.messageRoom form input {
    width: 152px;
}

.messageRoom {
    width: 250px;
    min-height: 300px;
    margin: auto;
}

.messageBox {
    max-height: 300px;
    overflow: scroll;
    border: 1px solid black;
}

.message {
    width: 250px;
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    background-color: aliceblue;
    border-bottom: 1px solid black;
}

.my-message {
    width: 250px;
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    justify-content: right;
    border-bottom: 1px solid black;
}

.chat-pic {
    height: 40px;
    width: 40px;
    border-radius: 2px;
}

.chat-pic-container {
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 5px;
}