// Place all the styles related to the chat::messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.messageBlock {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    top: 25px;
    left: 250px;
}

.messageArea {
    text-align: center;
    justify-content: center;
    width: 350px;
    margin: auto;
}

.messageRoom form {
    display: flex;
    flex-direction: row;
}

.messageRoom form input {
    width: 202px;
    border-radius: 5px;
}

.messageRoom {
    width: 300px;
    min-height: 300px;
    // border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.messageBox {
    height: 300px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 3px;
}

.message {
    width: 300px;
    margin: auto;
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(240, 255, 246);
}

.my-message {
    width: 300px;
    margin: auto;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: aliceblue;
}

.chat-pic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.chat-pic-container {
    width: 40px;
    height: 40px;
    margin: 2.5px 5px 2.5px 2.5px;
    border-radius: 2px;
}