// Place all the styles related to the chat::rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatBlock {
    display: flex;
    flex-direction: row;
    min-width: 750px;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 500px;
    overflow: scroll;
}

.roomBlock {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.roomIndex {
    justify-content: center;
    text-align: center;
    width: 250px;
}

.roomIndex form {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 23px;
}

.bold-text {
    font-weight: bold;
}

.roomBox {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    overflow: scroll;
    margin: 0px 25px 25px 25px;
}

.room-input {
    width: 103px;
}

.room {
    width: 100%;
    height: 35px;
    background-color: aliceblue;
    border: 1px solid gray;
}

.room:hover {
    cursor: pointer;
}

.room p {
    margin: auto;
    margin-top: 7px;
}

.single-room {
    display: flex;
    flex-direction: row;
    min-width: 500px;
}

.room-controls {
    min-width: 200px;
    // background-color: rgb(59, 51, 168);
    border: 1px solid gray;
    text-align: center;
}

.single-room-block {
    width: 70%;
}

.chat-btn {
    border: 1px solid black;
    background-color: gray;
    padding: 5px 5px;
    font-size: 16px;
    min-width: 90px;
    max-width: 150px;
    cursor: pointer;
}