// Place all the styles related to the chat::rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatBlock {
    display: flex;
    flex-direction: row;
}

.roomBlock {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.roomIndex {
    text-align: center;
}

.roomIndex ul {
    list-style: none;
}

.roomIndex ul li {
    margin: auto;
    margin-top: 5px;
    width: 250px;
    border: solid black 2px;
}