// Place all the styles related to the chat::rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatBlock {
    min-width: 750px;
    width: 100%;
    font: caption;
    height: 600px;
    width: 800px;
    overflow: scroll;
    margin: auto;
}

.roomBlock {
    display: flex;
    flex-direction: row;
}

.roomIndex {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: relative;
    margin: auto;
}

.room-index-cont {
    display: flex;
    flex-direction: column;
}

.room-form {
    display: flex;
    flex-direction: row;
    margin: 0px 25px 0px 25px;
    border-radius: 5px;
}

.bold-text {
    font-weight: bold;
}

.roomBox {
    border: 1px solid black;
    border-radius: 4px;
    width: 200px;
    height: 300px;
    overflow: scroll;
    margin: 0px 25px 0px 25px;
}

.room {
    width: 100%;
    height: 35px;
    border: 1px solid gray;
    justify-content: center;
}

.room-name {
    width: 95%;
    height: 90%;
    background-color: rgb(205, 230, 231);
    margin: auto;
    margin-top: 2px;
}

.room:hover {
    cursor: pointer;
}

.room p {
    margin: auto;
    padding-top: 8px;
    font-size: small;
}

.room-input {
    width: 104px;
}

.single-room {
    display: flex;
    flex-direction: row;
    min-width: 500px;
}

.room-controls {
    top: 25px;
    width: 200px;
    height: 270px;
    text-align: center;
    margin-top: 50px;
}

.single-room-block {
    width: 70%;
    position: absolute;
}

.room-controls .chat-btn {
    position: relative;
    left: 20px;
}

.room-user {
    margin: 0px 2px 0px 0px;
    border-radius: 3px;
}

.pointer:hover {
    cursor: pointer;
}

.chat-btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    min-width: 90px;
    max-width: 150px;
    cursor: pointer;
}