.user-profile {
    display: flex;
    flex-direction: column;
}

.profile-info {
    width: 100%;
    height: 350px;
}

.user-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.user-info p {
    display: flex;
    flex-direction: column;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    cursor: default;
}

.bio-container {
    margin: auto;
    width: 100%;
}

.bio-container p {
    text-align: left;
    margin-left: 23px;
}

.bio-submit {
    margin: auto;
    margin-left: 20px;
}

.info-pic {
    width: 350px;
    height: 350px;
    justify-content: left;
    padding: 0px 20px 0px 20px;
}

.info-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 25px;
    position: absolute;
}

.profile-pic-friend {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    position: absolute;
}

.photo-container h5 {
    display: none;
    color: white;
    font-size: 150px;
    position: absolute;
    z-index: 1;
    margin-top: 60px;
    margin-left: 105px;
}

.welcome-message {
    height: 50px;
    width: fit-content;
    text-align: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.welcome-message h3 {
    font-family: Tahoma, sans-serif;
    font-size: 28px;
    letter-spacing: 1.6px;
    word-spacing: 1.2px;
    cursor: default;
}

.profile-pic:hover {
    cursor: pointer;
}

.profile-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.photo-container {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 25px;
}

#pic-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    z-index: 2;
    position: absolute;
    top: 400px;
}

#pic-form p {
    font-size: medium;
}

.pic-button {
    width: fit-content;
    margin-left: 10px;
    margin-top: 5px;
}

.pic-accept-btn {
    width: fit-content;
    height: 20px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    font: 1em sans-serif;
    display: inline;
    border: none;
    margin: auto;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    transition: background 150ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: hsl(233, 36%, 73%);
    ;
}

.bio-container {
    display: flex;
    flex-direction: column;
}

.bio-container p {
    padding: 10px 10px 10px 0px;
    margin: 10px 10px 10px 5px;
}

.bio-form {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}

.bio-accept-button {
    width: 120px;
    height: 25px;
    border-radius: 5px;
    background-color: antiquewhite;
    margin: auto;
    margin-left: 20px;
}

.bio-accept-button:hover {
    cursor: pointer;
}

.bio-accept-button:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 10px 1px grayscale($color: #bdb7b7);
}

.pic-accept-button p {
    margin: 0;
    // padding-top: 2px;
}

.pic-accept-button:hover {
    cursor: pointer;
}

.add-image {
    height: 100px;
    width: 300px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    justify-content: left;
    display: flex;
    flex-direction: row;
}

#bio-text {
    width: 50%;
    height: 100px;
    border: none;
    border-radius: 5px;
    margin: 10px 10px 10px 5px;
    display: inline-block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}