.user-profile {
    display: flex;
    flex-direction: row;
}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 800px;
    background-color: beige;
}

.user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-info p {
    text-align: center;
}

.info-pic {
    width: 100%;
    height: 300px;
}

.profile-img {}

.profile-main {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 800px;
    background-color: azure;
}