.find-friends {
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

.find-friends-controls {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 250px;
    margin-left: 45px;
    margin-right: 45px;
    text-align: center;
}

.show-users {
    display: flex;
    width: 100%;
}

.friends-section {
    height: 400px;
    width: 100%;
}

.friends-section h3 {
    text-align: center;
}

.friends-section ul {
    list-style: none;
    height: 300px;
    padding: unset;
    margin: unset;
    display: flex;
    flex-direction: row;
}

.friends-section ul li {
    padding-right: 20px;
}

.small-user-cont {
    width: 300px;
    height: 50px;
    background-color: rgb(136, 176, 230);
    display: flex;
    flex-direction: row;
}

.small-image-cont {
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 5px;
}

.profile-pic-mid {
    width: fit-content;
}

.med-user-cont {
    width: 200px;
    height: 300px;
    background-color: rgb(176, 203, 238);
    // border: 1px solid rgb(129, 128, 128);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.med-user-cont:hover {
    border: 1px solid black;
}

.med-user-cont p {
    text-align: center;
    font-size: larger;
}

.med-image-cont {
    width: 150px;
    height: 150px;
    margin: 25px 25px 25px 25px;
    background-color: blanchedalmond;
}

.med-image-cont img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.buttonLeft {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    // border: 1px solid black;
    margin-right: 25px;
    margin-top: 124px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.buttonLeft:hover {
    cursor: pointer;
    border: 1px solid black;
}

.buttonRight:hover {
    cursor: pointer;
    border: 1px solid black;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 21px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.buttonRight {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    // border: 1px solid black;
    margin-right: 30px;
    margin-top: 124px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.buttonLeft:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 10px 1px grayscale($color: #bdb7b7);
}

.buttonRight:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 10px 1px grayscale($color: #bdb7b7);
}

.friends-button {
    width: 95%;
    height: 30px;
    background-color: rgb(205, 230, 231);
    margin: auto;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.friends-button:hover {
    cursor: pointer;
    background-color: aqua;
}

.friends-button:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 10px 1px grayscale($color: #bdb7b7);
}

.friends-button p {
    margin-top: 5px;
    margin-bottom: 0px;
}