.friend-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.friend-info {
    display: flex;
    flex-direction: row;
    height: 250px;
    background-color: burlywood;
}

.friend-pic {
    width: 200px;
    justify-content: left;
    margin-left: 25px;
    margin-right: 25px;
}

.friend-request {}