.friend-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.friend-info {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.friend-pic {
    width: 300px;
    justify-content: left;
    margin-left: 25px;
    margin-right: 25px;
}

.friend-request {
    display: flex;
    flex-direction: column;
}

.request-button:hover {
    cursor: pointer;
}

.request-button {
    background-color: rgb(187, 241, 248);
    border-radius: 10px;
    width: 250px;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.request-button p {
    margin: auto;
    margin-top: 10px;
}

.friend-bio {
    border: 1px solid black;
}