.event-page {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

.event-piece-cont {
    border-radius: 4px;
    width: 200px;
    height: fit-content;
    max-height: 300px;
    overflow: scroll;
    margin: 0px 25px 5px 25px;
}

.event-piece {
    width: 100%;
    height: 35px;
    justify-content: center;
}

.event-piece-name {
    width: 95%;
    height: 90%;
    background-color: #38598b;
    margin: auto;
    margin-top: 2px;
    border-radius: 5px;
}

.event-piece-name:hover {
    background-color: #e7eaf6;
    cursor: pointer;
}

.event-piece-name:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 10px 1px grayscale($color: #bdb7b7);
}

.event-piece p {
    margin: auto;
    padding-top: 8px;
    font-size: small;
}

.event-piece-cont {
    justify-content: center;
}

.event-piece-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    width: 200px;
    cursor: pointer;
    padding-left: 110px;
}

.events-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 45px;
    margin-right: 45px;
}

.event-list-button {
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

.single-event {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    margin-top: 60px;
}

.single-event-info {
    display: flex;
    flex-direction: column;
}

.event-display {
    height: fit-content;
    width: 600px;
    display: flex;
    flex-direction: row;
}

.event-info {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: left;
    margin-right: 10px;
}

.event-list {
    display: flex;
    flex-direction: row;
}

.event-column {
    display: flex;
    flex-direction: column;
}

.events-list h3 {
    font-family: Tahoma, sans-serif;
    cursor: default;
}

.event-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.event-inputs {
    width: 50%;
}

.event-button {
    margin-right: 50%;
    margin-left: 50%;
    width: 100px;
}

.event-name {
    width: 100%;
    text-align: left;
}

.edit-button {
    width: 30px;
    background-color: red;
    border-radius: 5px;
}

.event-controls {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    justify-content: center;
}

.event-controls h4 {
    font-family: Tahoma, sans-serif;
    cursor: default;
}

.event-controls p {
    cursor: default;
}

.event-name-exit {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.event-name-exit p {
    width: 160px;
}

.event-name {
    display: flex;
    flex-direction: column;
    cursor: default;
    text-align: center;
}

.event-exit {
    height: 20px;
    width: 20px;
    background-color: rgb(247, 138, 138);
    border-radius: 5px;
    cursor: pointer;
}

.event-exit:hover {
    background-color: rgb(243, 106, 106);
}

.event-controls-btn {
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
}

.enter-events {
    margin: auto;
}

.create-events {
    width: 600px;
    height: fit-content;
}

.event-form-cont {
    display: flex;
    flex-direction: row;
    font-family: Tahoma, sans-serif;
}

.event-membership-btn {
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
}