.event-page {
    margin: auto;
    text-align: center;
}

.event-page ul li {
    list-style: none;
    width: 200px;
    height: fit-content;
    background-color: violet;
    border-radius: 10px;
    padding-bottom: 5px;
}