.event-page {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    // text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.event-piece-cont {
    border-radius: 4px;
    width: 200px;
    height: fit-content;
    max-height: 300px;
    overflow: scroll;
    margin: 0px 25px 5px 25px;
    text-align: center;
}

.event-piece {
    width: 100%;
    height: 35px;
    justify-content: center;
}

.event-piece-name {
    width: 95%;
    height: 90%;
    background-color: #1c69ad;
    margin: auto;
    margin-top: 2px;
    border-radius: 5px;
}

.event-piece-name:hover {
    background-color: #e7eaf6;
    cursor: pointer;
}

.event-piece-name:active {
    transform: scale(0.98);
    box-shadow: 2px 1px 10px 1px grayscale($color: #bdb7b7);
}

.event-piece p {
    margin: auto;
    padding-top: 8px;
    font-size: small;
}

.event-piece-cont {
    justify-content: center;
}

.event-piece-button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    width: 200px;
    cursor: pointer;
    padding-left: 110px;
}

.events-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 45px;
    margin-right: 45px;
}

.event-list-button {
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

.single-event {
    display: flex;
    width: 100%;
    width: fit-content;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    // text-align: center;
    margin-top: 30px;
}

.single-event-info {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.event-display {
    height: fit-content;
    width: 785px;
    display: flex;
    flex-direction: row;
}

.event-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: left;
    margin-right: 10px;
}

.event-list {
    display: flex;
    flex-direction: column;
}

.event-title {
    justify-content: center;
    text-align: center;
}

.events-list h3 {
    font-family: Tahoma, sans-serif;
    cursor: default;
    text-align: center;
}

.event-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: auto;
}

// .event-inputs {
//     width: 50%;
// }
.event-button {
    margin-right: 50%;
    margin-left: 50%;
    width: 100px;
}

.event-name {
    width: 100%;
    text-align: left;
}

.edit-button {
    width: 30px;
    background-color: red;
    border-radius: 5px;
}

.event-controls {
    display: flex;
    flex-direction: column;
    width: 225px;
    text-align: center;
    justify-content: center;
}

.event-controls h4 {
    font-family: Tahoma, sans-serif;
    cursor: default;
    margin-bottom: 0;
}

.event-controls p {
    cursor: default;
}

.event-name-exit {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height: 50px;
}

.event-name {
    display: flex;
    flex-direction: column;
    cursor: default;
    text-align: center;
}

.member-row {
    display: flex;
    flex-direction: row;
}

.event-member-name {
    width: 50%;
    text-align: right;
}

.event-member-exit {
    margin: auto;
    background-color: rgb(247, 138, 138);
    border-radius: 5px;
    height: 20px;
    width: 20px;
    padding: 0;
    cursor: pointer;
}

.event-exit:hover {
    background-color: rgb(243, 106, 106);
}

.event-controls-btn {
    width: 120px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 3px;
    background-color: rgb(247, 138, 138);
}

.event-center {
    margin: auto;
}

.enter-events {
    margin: auto;
}

.create-events {
    width: 600px;
    height: fit-content;
}

.event-form-cont {
    display: flex;
    flex-direction: row;
    font-family: Tahoma, sans-serif;
    margin-top: 35px;
    width: 687px;
    padding-left: 128px;
}

.event-membership-btn {
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
}

.event-inputs {
    height: 26px;
    min-width: 400px;
    margin-top: 10px;
    display: inline-block;
}

.event-inputs-desc {
    height: 52px;
    min-width: 400px;
    margin-top: 10px;
    display: inline-block;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.event-inp-cat {
    width: 100px;
}

.event-name {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.event-name p {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
}

.event-description p {
    text-align: left;
    justify-content: left;
}

.event-column {
    background-color: white;
}

.event-user {
    width: 120px;
    margin-bottom: 3px;
    border-radius: 3px;
    // background-color: #a1a7d3;
    cursor: default;
}

.event-user {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.event-exit {
    width: fit-content;
    height: 22px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    font: 1em sans-serif;
    display: inline;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
    transition: background 150ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f78a8a;
}

.event-name-exit h3 {
    padding-left: 25px;
}

.event-delete {
    width: fit-content;
    height: 26px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    font: 1em sans-serif;
    display: inline;
    border: none;
    margin: auto;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    transition: background 150ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f78a8a;
}

.event-delete:hover {
    background-color: rgb(243, 106, 106);
}

.event-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-row p {
    width: 30%;
    text-align: left;
}

.form-row input {
    width: 70%;
    height: 20px;
    margin-top: 14px;
}